@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-gray-900;
    @apply text-gray-100;
  }

  body,
  input,
  textarea,
  button {
    font-family: 'Poppins';
    font-weight: 400;
  }

  img {
    object-fit: cover;
  }

  .home-container {
    width: 100%;
    max-width: calc(100vw - ((100vw - theme(spacing.container)) / 2));
    margin-left: auto;
    min-height: 656px;
  }
}
